*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
/* head */
.head{
    background-color: #131921;
    color: #fff;
    display: flex;
    gap: 5px;
    padding: 5px 10px;
}

.col{
    flex: 1;
    padding: 5px 5px;
    border: 1px solid transparent;
    align-items: center;
    cursor: pointer;
}
.col:hover{
    border: 1px solid #fff;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
}
.logo a{
display: block;
}

.logo .img{
    width: 100%;
    filter: brightness(10);
}

.location{
    flex: 2.5;
    display: flex;
    align-items: center;
}

.location div:first-child{
    align-self: flex-end;
    margin-right: 4px;
}

.location i{
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.location .light{
    color: #cccccc;
}

.lang{
    display: flex;
}

.lang img{
    display: block;
    height: 25px;
    margin-right: 5px;
}

.search{
    flex: 9;
    margin: 0 5px;
    border: none;
    cursor: none;
}
.search:hover{
    border: none;
}

.search form{
    height: 40px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.search form select{
    width: 8%;
    font-size: 0.85rem;
    border: none;
    outline: none;
    padding-left: 5px;
}

.search input{
    display: block;
    width: 85%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 5px 0 5px;
    font-size: 15px;
}
.search button{
    padding: 4px 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: orange;
}
.light{
    font-weight: 400;
    font-size: 0.75rem;
    color: #fff;
}

.bold{
    font-weight: 700;
    font-size: 0.85rem;
}

.account{
    flex: 1.7;
}

.cart{
    display: flex;
    font-weight: 500;
    font-size: 16px;
}

.cart i{
    font-size: 1.5rem;
}

/* navbar */
.navbar{
    background-color: #232f3e;
    color: #fff;
}

.navbar nav{
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
}
.navbar nav a{
    font-size: 0.95rem;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    display: block;
    padding: 5px 10px;
    font-weight: 700;
}

.navbar nav a:hover{
    border: 1px solid #fff;
}
.navbar a i{
    margin-right: 2px;
}

.navbar ul{
    align-self: flex-start;
    display: flex;
    list-style: none;
    margin-left: 5px;
    width: 66%;
}

.navbar ul li{
    padding: 12px 7px 5px 7px;
    font-size: 0.85rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.navbar ul li:hover{
    border: 1px solid #fff;
}


.navbar nav p{
    cursor: pointer;
    padding: 7px;
    font-size: 0.85rem;
    height: 100%;
    border: 1px solid transparent;
}
.navbar nav p:hover{
    border: 1px solid #fff;
}

/* Hero Section */
.heroSection{
    height: 250px;
    max-height: 250px;
    position: relative;
}

.slider{
    height: 100%;
    display: flex;
    overflow: hidden;
}

.slider .sliderItem{
    min-width: 100%;
    height: 100%;
}

.slider .sliderItem img{
    width: 100%;
}

.heroSection button{
    position: absolute;
    top: 50%;
    transform: translate(-50% ,- 50%);
    font-size: 2.5rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #777;
}

.heroSection button:hover{
    color: #111;
}

.heroSection .left{
    left: 50px;
}
.heroSection .right{
    right: 50px;
}

/* body / Main  */

main{
    background-color: #ccc;
    padding-bottom: 40px;
}

.shop{
    padding: 0 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* card */

.shop .card{
    flex: 1;
    min-width: 23%;
    background-color: #fff;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5),
    -2px -2px 10px rgba(0, 0, 0, 0.5); */
    padding: 25px 20px 20px 20px;
}

.card h2{
    font-size: 1.3rem;
    font-weight: 550;
}

.card div{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
}

.card div figure{
    min-width: 120px;
    max-width: 250px;
    flex: 1;
    cursor: pointer;
}

figure img{
    display: block;
    width: 100%;
    height: 100px;
}

figure figcaption{
    font-size: 0.76rem;
    line-height: 1.5;
    color: #0f1111;
    margin-bottom: 5px;
}

.card a{
    color: #007185;
    font-size: 0.75rem;
    font-weight: bold;
}

.card a:hover{
    color: orange;
}

.shop .ads{
    background: none;
    padding: 0;
}

.shop .ads .sign-card{
    margin: 0;
    width: 100%;
    height: 150px;
}

.ads .sign-card button{
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: orange;
    color: #222;
    cursor: pointer;
}

.ads .ads-card{
    background: none;
    padding: 15px 5px 0px 5px;
    margin: 0;
}
.ads .ads-card img{
    width: 100%;
}

/* Footer */

.backTop{
    width: 100%;
    height: 50px;
    font-size: 0.85rem;
    border: none;
    background-color: #37475a;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.foot{
    background-color: #232f3e;
    color: #fff;
}

.foot-nav{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

.foot-nav ul{
    list-style: none;
}

.foot-nav ul li{
    margin: 10px 0;
}

.foot-nav .bold{
    font-size: 1rem;
    margin-bottom: 15px;
}

.foot-nav ul li a{
    color: #ccc;
    font-size: 0.9rem;
}

.foot-nav a:hover{
    text-decoration: underline;
}

.foot-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.foot-logo img{
    width: 100px;
    cursor: pointer;
}

.foot-copy{
    background-color: #131921;
    padding: 20px;
    text-align: center;
}

.foot-copy .light{
    font-size: 0.75rem;
    margin: 7px 0;
    color: #ccc;
}